<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.jerryyin.notificationtestdemo01" >

    <uses-permission android:name="ANDROID.PERMISSION.VIBRATE"></uses-permission>
    
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".ResultActivity">
            android:parentActivityName=".MainActivity">
            <!--android:taskAffinity="FLAG_ACTIVITY_NEW_TASK"-->
            <!--android:excludeFromRecents="true">      &lt;!&ndash; 将新任务从最近列表中排除，目的是为了防止用户不小心返回到它。&ndash;&gt;-->

            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity"/>

        </activity>
    </application>

</manifest>
